<!DOCTYPE html>
<html lang="en" ng-app="FlickrApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Flickr Searcher | Diana Duong</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<h1>Flickr Searcher</h1>
		</header>

		<section class="container-section" ng-controller="SearchController as vm">
			<div class="row">
				<div class="col-xs-8">
				<form name="vm.appForm" ng-submit="vm.appForm.$valid && vm.getImages(vm.searchTag)" >
					<input type="text" name="searchTag" 
						ng-model="vm.searchTag"
						class="form-control ng-pristine ng-invalid"
						placeholder="Search" required />
					<div ng-if="vm.appForm.$submitted" ng-messages="vm.appForm.searchTag.$error" role="alert">
					<p ng-class="{error:vm.appForm.$invalid}"  ng-message="required">Please fill out this field.</p>
				</div>

				</div>
				<div class="col-xs-4">
					<button class="btn btn-default" type="submit">Submit</button>
				</div>
				</form>
			</div>

			<div class="row">
				<div class="col-xs-12" ng-if="vm.results">
					<h2>We found {{ vm.results.length }} results for "{{ vm.searchTag }}"</h2>
				</div>
			</div>
			<div class="row">
				<div class="animate" ng-repeat="result in vm.results">
					<div class="col-xs-4">
	          			<img ng-src="https://farm{{result.farm}}.staticflickr.com/{{result.server}}/{{result.id}}_{{result.secret}}.jpg" width="350" height="350">
	       			</div>
       			</div>
       		</div>
		</section>

	</div> <!-- wrapper -->
	<script src="js/script.js" type="text/javascript"></script>
</body>
</html>